.comments
  %h4 ＜コメント一覧＞
  - if @comments
    - @comments.each do |comment|
      %p
        %strong
          = link_to comment.user.nickname, "/users/#{comment.user_id}"
          ：
        = comment.text
